
/*=============================================================
    CSS INDEX
    =============================
    01. GENERAL STYLE (body, link color, section-title, preloader btn, overlay, section-padding etc)
    02. BOOTSTRAP NAVIGATION OVERRIDES
    03. START HOME DESIGN
    04. START FEATURE AND ABOUT DESIGN
    05. START WHY CHOOSE US DESIGN
    06. START SERVICE DESIGN
    07. START COUNTER DESIGN
    08. START PORTFOLIO DESIGN
    09. START TEAM DESIGN
    10. START TESTIMONIAL DESIGN
    11. START PARTNER LOGO DESIGN
    12. START BLOG DESIGN
    13. START NEWSLETTER DESIGN
    14. START PRICING TABLE DESIGN
    15. START CONTACT DESIGN
    16. START MAP DESIGN
    17. START SOCIAL PROFILE DESIGN
    18. START FOOTER DESIGN
    19. START SECTION TOP  DESIGN


    color1 #354554  oscuro

    color3 #6a7d8e  medio        

    color2 #26A9E0  claro
  =============================================================*/
/*
* ----------------------------------------------------------------------------------------
* 01.GENERAL STYLE
* ----------------------------------------------------------------------------------------
*/

body {
    background-color: #fff;
    color: #777;  
    font-family: 'Hind', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
}
html,
body { height: 100% }
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #6a7d8e;
    font-family: "Montserrat",sans-serif;
    font-weight: 700;
}
a {
    
    text-decoration: none;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
a, a:hover {
    color: #dd3333;
    text-decoration: none;
}
a:focus {
    outline: none;
    text-decoration: none;
}
p { margin-bottom: 0 }
ul,
li {
    margin: 0;
    padding: 0;
}
fieldset {
    border: 0 none;
    margin: 0 auto;
    padding: 0;
}
/*START PRELOADER DESIGN*/
.preloader {
    background: #fff;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
	
}

.status,
.status-mes {
	background-image: url("../img/status.gif");
	background-position: center center;
	background-repeat: no-repeat;
	height: 200px;
	left: 50%;
	margin: -100px 0 0 -100px;
	position: absolute;
	top: 50%;
	width: 200px;

}
.status-mes {
    background: none;
    left: 0;
    margin: 0;
    text-align: center;
}
.status-mes h4 {
    color: #333;
	font-family: 'Hind', sans-serif;
	font-weight: 300;
	letter-spacing:5px;
	margin: 0;
}
.no-padding { padding: 0 }
/*END PRELOADER DESIGN*/
/*START SCROLL TO TOP*/
.topcontrol {
    background: #26A9E0 none repeat scroll 0 0;
    border-radius: 50px;
    bottom: 5px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
    color: #fff;
    cursor: pointer;
    font-size: 26px;
    height: 40px;
    opacity: 1;
    filter: alpha(opacity=100);
    padding: 5px 12px;
    position: fixed;
    right: 5px;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    width: 40px;
}
.topcontrol:hover {
    background: #222;
    color: #fff;
}
/*END SCROLL TO TOP*/
.section-padding { padding: 60px 0 }
/*START SECTION TITLE DESIGN*/
.section-title  h2 {
    margin: 0;
    text-transform: uppercase;
}
@media only screen and (max-width:360px) { 
    .section-title  h2 { font-size: 24px }
}
.section-title h2 span { color: #dd3333 }
.section-title-white { color: #fff!important }
.section-title div {
    background: #26A9E0  none repeat scroll 0 0;
    display: block;
    height: 2px;
    margin: 20px auto 60px;
    width: 60px;
}
/*END SECTION TITLE DESIGN*/
/*START BTN STYLE*/
.btn-light-bg {
    background: #dd3333 none repeat scroll 0 0;
    border: 2px solid #dd3333;
    border-radius: 3px;
    box-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.1);
    color: #fff;
    font-family: montserrat,sans-serif;
    font-size: 12px;
    padding: 8px 20px;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease 0s;
            transition: all 0.2s ease 0s;
}
.btn-light-bg:hover,
.btn-light-bg:focus {
    background: #333;
    color: #fff;
    border: 2px solid #333;
}

/*END BTN STYLE*/
/*SECTION OVERLAY*/
.overlay { background: rgba(0,0,0,0.6) none repeat scroll 0 0 }
.text-left{
	text-align: left!important;
}
/*END SECTION OVERLAY*/
/*
* ----------------------------------------------------------------------------------------
* 01.END GENERAL STYLE
* ----------------------------------------------------------------------------------------
*/
/*
* ----------------------------------------------------------------------------------------
* 02. START BOOTSTRAP NAVIGATION OVERRIDES
* ----------------------------------------------------------------------------------------
*/
.navbar-default {
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    width: 100%;
    padding: 20px 0;
    background: #fff;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #dd3333 !important;
    background-color: transparent;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: #dd3333 !important;
    background-color: transparent;
}
.navbar-brand { padding: 5px 0 0;}
.navbar-brand img { width: 129px;margin-left:10px;}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #fff;
}
.menu-top { background: #fff none repeat scroll 0 0 }
.menu-top li a {
    color: #354554;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
	font-family: "Montserrat",sans-serif;
}
.menu-top li a:hover { color: #dd3333!important }
@media only screen and (max-width:768px) { 
    .navbar-default .navbar-nav > li > a {
        margin-top: 10px;
        padding: 8px;
    }
}
@media only screen and (max-width:480px) { 
    .menu-top { background-color: #fff }
    .navbar-default .navbar-nav > li > a { color: #313131  !important }
}
.navbar-default.menu-shrink {
    background-color: #fff;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    width: 100%;
}
@media only screen and (max-width:480px) { 
    .menu-top {
        color: #fff !important;
        margin-left: 0px;
    }
}
.navbar-default.menu-shrink li a { color: #313131!important }
.navbar-default.menu-shrink li a:hover { color: #dd3333 !important }
.navbar-default .navbar-toggle { background: #fff none repeat scroll 0 0 }
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background-color: #fff }
.navbar-default .navbar-toggle .icon-bar { background-color: #dd3333 }
/*
* ----------------------------------------------------------------------------------------
* 02.END BOOTSTRAP NAVIGATION OVERRIDES
* ----------------------------------------------------------------------------------------
*/
/*
* ----------------------------------------------------------------------------------------
* 03.START HOME DESIGN
* ----------------------------------------------------------------------------------------
*/

.btn-home-bg {
background: #dd3333 none repeat scroll 0 0;
border: 1px solid #dd3333;
border-radius: 3px;
color: #fff;
display: inline-block;
font-family: montserrat,sans-serif;
font-size: 13px;
margin-top: 20px;
padding: 12px 25px;
text-transform: uppercase;
transition: all 0.2s ease 0s;
}

.btn-home-border {
	background: transparent;
	border: 2px solid #fff;
	border-radius: 3px;
	color: #fff;
	font-family: montserrat,sans-serif;
	font-size: 13px;
	padding: 10px 25px;
	text-transform: uppercase;
	transition: all 0.2s ease 0s;
	margin-top: 20px;
	display: inline-block;
}
.btn-home-border:hover,
.btn-home-border:focus{
	background: #fff none repeat scroll 0 0;
	border-color: #fff;
	color: #777;
}
.btn-home-bg:hover,
.btn-home-bg:focus {
    background: #fff;
    color: #333;
    border-color: #fff;
}
.border_btn{
	border-color: #fff;
	background: transparent;
	margin-right: 20px;
}
.carousel-control{
	z-index: 1;
	background-image: none !important;
	top: 46.6%;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	line-height: 45px;
	background: rgba(0,0,0,0.5);
}
.carousel-control:hover{
	background: #fff;
	color: #dd3333;
}
.carousel-control.left{
	margin-left: 20px;	
}
.carousel-control.right{
	margin-right: 20px;	
}
/*START OTHER HOME PAGE DESIGN*/
.youtube_bg{
	height: 650px;
	position: relative;
}
.youtube_bg:before {
	background: rgba(0, 0, 0, 0.6);
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.8;
	position: absolute;
	top: 0;
	width: 100%;
}
.home_text {
  padding-top: 250px;
  text-align: center;
}
.home_text h2 {
color: #f8f8f8;
font-size: 40px;
margin-top: 0;
text-transform: uppercase;
}
.home_text p {
    color: #fff;
    margin-bottom: 30px;
}



/*START HTML5 VIDEO DESIGN*/
.html-video {
    top: 0%;
    left: 0%;
    max-height: 700px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.html-video:before {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0.8;
  content: "";
  left: 0;
  top: 0;
}
.slider-caption {
    position: absolute;
    top: 35%;
    width: 100%;
    left: 0;
    text-align: center;
    z-index: 15;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}
video { min-width: 100% }
/*END HTML5 VIDEO DESIGN*/

/*
* ----------------------------------------------------------------------------------------
* 03.END HOME DESIGN
* ----------------------------------------------------------------------------------------
*/



/*
* ----------------------------------------------------------------------------------------
* 04.START FEATURE AND ABOUT DESIGN
* ----------------------------------------------------------------------------------------
*/
.feature{	
	padding-bottom:60px;
	background: #f7f7f7;
}
.single_about {
    height: 380px;
	background: #fff none repeat scroll 0 0;
	border-bottom: 1px solid #e8e8e9;
	border-right: 1px solid #e8e8e9;
	padding: 40px 20px;
	transition: all 0.4s ease 0s;
	text-align: center;
}
@media only screen and (max-width:768px) { 
    .single_about { margin-bottom: 40px }
}
.single_about:last-child { border-right: 0px }
.single_about:hover { }
.single_about i {
	background: #354554 none repeat scroll 0 0;
	border: 1px solid #354554;
	border-radius: 50%;
	color: #fff;
	display: inline-block;
	font-size: 24px;
	height: 60px;
	line-height: 60px;
	margin: 0 0 24px;
	text-align: center;
	text-decoration: none;
	transition: all 0.5s ease-in-out 0s;
	width: 60px;
}
.single_about h4 {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.5s ease-in-out 0s;
}
.single_about p {
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
@media only screen and (max-width:768px) { 
    .single_about h4 { font-size: 15px }
}
.single_about:hover i {
    background: #dd3333;
    color: #fff;
    border: 1px solid #dd3333;
	transform: scale(1.1);
}
.single_about:hover h4 { color: #dd3333; }
/*END FEATURE DESIGN*/
/*START ABOUT DESIGN*/
.single_about_content h4 {
	font-size: 24px;
	letter-spacing: 1px;
	margin-bottom: 20px;
	margin-top: 0;
	text-transform: uppercase;
}
.single_about_content p {
    margin-bottom: 30px;
}
@media only screen and (max-width:480px) { 
    .about_img { margin: 60px 0 }
}
/* START SKILL DESIGN */
.single_about_content iframe{
border: 0 none;
width: 100%;
height: 340px;
}
.progress-bar-text {
	color: #333;
	font-family: "Hind",sans-serif;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 1px;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.progress-bar-text span { float: right }
.progress-bar {
    background: #e8e8e9 none repeat scroll 0 0;
    box-shadow: 0 0 0;
    height: 4px;
    margin: 0 0 20px;
    position: relative;
    width: 100%;
}
.progress-bar > span {
    background: #dd3333 none repeat scroll 0 0;
    display: block;
    height: 100%;
    width: 0;
}
/* END SKILL DESIGN */
/*END ABOUT DESIGN*/
/*
* ----------------------------------------------------------------------------------------
* 04.END FEATURE AND ABOUT  DESIGN
* ----------------------------------------------------------------------------------------
*/


/*
* ----------------------------------------------------------------------------------------
* 05.START WHY CHOOSE US DESIGN
* ----------------------------------------------------------------------------------------
*/
.single_feature {
	margin-top: 50px;
}
@media only screen and (max-width:768px) { 
    .single_feature { padding-top: 0px }
}
@media only screen and (max-width:480px) { 
    .single_feature { padding-top: 50px }
}
.feature_img {
    margin: auto auto 0;
    max-width: 350px;
}
.single_feature i {
    border-radius: 50%;
    color: #fff;
	background:#dd3333;
    display: inline-block;
    font-size: 24px;
    height: 60px;
    line-height: 62px;
    margin: 0 auto 15px;
    position: relative;
    text-align: center;
    width: 60px;
    z-index: 3;
	transition: .5s;
}
.single_feature:hover i{
	background: #26A9E0;
}
.single_feature h3 {
    text-transform: uppercase;
    font-size: 14px;
}
.single_feature span {
    border-bottom: 1px dashed #ccc;
    width: 80px;
    display: block;
	margin-bottom: 10px;
}
.single_feature p { margin-bottom: 0 }
.carousel-indicators li {
    background:none;
    border: 1px solid #dd3333;
    border-radius: 12px;
    height: 12px;
    margin: 0 1px;
    width: 12px;
}
.carousel-indicators .active {
    height: 12px;
    margin: 0 1px;
    width: 12px;
    border: 1px solid #dd3333;
    background: #dd3333 none repeat scroll 0 0;
}
.carousel-indicators { bottom: -60px }
@media only screen and (max-width:480px) { 
    .carousel-indicators { bottom: -60px }
}
/*
* ----------------------------------------------------------------------------------------
* 05.END  WHY CHOOSE US DESIGN
* ----------------------------------------------------------------------------------------
*/

/*
* ----------------------------------------------------------------------------------------
* 0.START OUR SERVICE DESIGN
* ----------------------------------------------------------------------------------------
*/
.our_service { background: #f7f7f7 }
.single_service {
    height: 257px;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #eee;
    margin-left: -1px;
    margin-top: -1px;
    padding: 40px;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    position: relative;
}
.single_service:hover {

}
.single_service i {
	color: #dd3333;
	display: block;
	float: left;
	font-size: 40px;
	padding-bottom: 20px;
	transition: all 0.2s ease 0s;
	padding-right: 20px;
}
.single_service:hover i{
	transform: scale(1.1)
}
.single_service h4 {
	color: #354554;
	font-size: 16px;
	margin: 0;
	padding-top: 11px;
	text-transform: uppercase;
	transition: all 0.2s ease 0s;
	text-align: left;
}
.single_service p {
	display: block;
	margin-bottom: 0;
	overflow: hidden;
	text-align: left;
	transition: all 0.2s ease 0s;
	width: 100%;
}

#service ul li{
    text-align: left;
}

/*
* ----------------------------------------------------------------------------------------
* 0.END OUR SERVICE DESIGN
* ----------------------------------------------------------------------------------------
*/




/*
* ----------------------------------------------------------------------------------------
* 0.START PORTFOLIO DESIGN
* ----------------------------------------------------------------------------------------
*/


.work_all_item .mix {
  display: none;
}
.our_work_menu {
  margin-bottom: 50px;
}

.our_work_menu ul{
	list-style-type: none;
	padding: 0;
}
.work_all_item .col-md-3{
	padding: 0;
}
.our_work_menu ul li{
	border: 1px solid #26A9E0;
	color: #26A9E0;
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 2px;
	margin: 0 7px 15px;
	padding: 6px 21px;
	text-transform: uppercase;
	transition: all 0.3s ease 0s;
}
.our_work_menu ul li:hover, .our_work_menu ul li.active{
	border-color: #26A9E0 ;
	color:#26A9E0;
}
#our_work .grid-item{
	margin-top: 30px;
}
.single_project {
  padding-bottom: 40px;
}
.single_our_work{
	overflow: hidden;
	text-align: center;
	transition: all 0.3s ease 0s;
}
.sing_work_photo{
	position: relative;
}

.single_our_work img{
	width: 100%;
	transition: all 0.2s ease 0s;
}

.single_our_work figure{
	margin-bottom: 0;	
}
.sing_work_text_link{
	position:absolute;
	width: 100%;
	height: 100%;
	top: 0;
	color: #fff;
	background: rgba(53, 69, 84, 0.58);
	transition: .5s;
	opacity: 0;
	visibility: hidden;
}
.sing_work_content_wrap{
	display: table;
	height: 100%;
	width: 100%;
}
.sing_work_content{
	display: table-cell;
	vertical-align: middle;
}
.sing_work_text_link h5{
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 5px;
	margin-top: 20px;
	text-transform: uppercase;
}


.sing_work_text_link p{
	margin: 0 0 10px;
}
.sing_link_img a i.fa{
	font-size: 14px;	
}
.sing_link_img a{
	background: #fff none repeat scroll 0 0;
	border: 1px solid #fff;
	border-radius: 50%;
	color: #26A9E0;
	display: inline-block;
	height: 40px;
	line-height: 41px;
	transition: all 0.3s ease 0s;
	width: 40px;	
}
.sing_link_img a:hover{	
	background: #fff none repeat scroll 0 0;
	border-color: #fff;
	color: #333;
}
.sing_link_img a.search{
	margin-right: 16px;
}
.single_our_work:hover  .sing_link_img a.search{
	animation: slideInDown 800ms ease-in-out;
}
.single_our_work:hover  .sing_link_img a.link{
	animation: slideInDown 800ms ease-in-out;
}
.single_our_work:hover{
	background: #26A9E0;
	color: #fff;
}
.single_our_work:hover .sing_work_text_link{
	opacity: 1;
	visibility: visible;
}
.portfolio_btn { padding-top: 20px }

img .ip {
    width: 50px;
}


/*
* ----------------------------------------------------------------------------------------
* 0.END PORTFOLIO DESIGN
* ----------------------------------------------------------------------------------------
*/


/*
* ----------------------------------------------------------------------------------------
* 0.START COUNTER DESIGN
* ----------------------------------------------------------------------------------------
*/
.counter_feature {
    background: #f2f2f2 none repeat scroll 0 0;
    padding-bottom: 100px;
    }
@media only screen and (max-width:768px) { 
    .counter {
        margin-bottom: 40px;
        overflow: hidden;
    }
}
.counter{
	text-align: center;
    padding-top: 50px;
}
.counter i {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #eee;
	border-radius: 100px;
	color: #dd3333;
	font-size: 30px;
	height: 70px;
	line-height: 70px;
	margin-bottom: 16px;
	text-align: center;
	transition: all 0.3s ease 0s;
	width: 70px;
}
.counter:hover i {
	background: #dd3333 none repeat scroll 0 0;
	border: 1px solid #dd3333;
	color: #fff;
	box-shadow: 0px 11px 10px 0px rgba(0,0,0,0.1);
}
.counter h2 {
    color: #161616;
    font-weight: 700;
    margin-top: 0;
}
.counter h5 {
	color: #333;
    font-family: 'Hind', sans-serif;
	font-size: 14px;
	letter-spacing: 2px;
	margin-bottom: 0;
	text-transform: uppercase;
}
@media only screen and (max-width:768px) { 
    .counter p { font-size: 13px }
}
@media only screen and (max-width:360px) { 
    .counter p { font-size: 12px }
}
@media only screen and (max-width:320px) { 
    .counter p { font-size: 18px }
}
/*
* ----------------------------------------------------------------------------------------
* 0.END COUNTER DESIGN
* ----------------------------------------------------------------------------------------
*/


/*
* ----------------------------------------------------------------------------------------
* 0.END ABOUT US DESIGN
* ----------------------------------------------------------------------------------------
*/
.about_video{
	height: 400px;
	position: relative;
}
.about_video:before {
	background: rgba(0, 0, 0, 0) linear-gradient(to right bottom, #dd3333, #24c5e5) repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.8;
	position: absolute;
	top: 0;
	width: 100%;
}
.video-container h3 {
	color: #fff;
	font-size: 50px;
	font-weight: 400;
	margin-bottom: 40px;
	margin-top: 70px;
	text-transform: uppercase;
}
.play-video {
	background-color: #fff;
	border-radius: 30px;
	cursor: pointer;
	height: 60px;
	left: 50%;
	margin-left: -38px;
	position: absolute;
	top: 85%;
	transition: all 0.2s ease 0s;
	width: 60px;
}
.video-container a {
  display: inline-block;
}
.video-container a:hover .play-video { }
.play-video .fa-play {
	color: #333;
	font-size: 22px;
	font-weight: 400;
	left: 24px;
	position: absolute;
	top: 20px;
}
.modal-content {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    margin-top: 100px;
    text-align: center;
    box-shadow: none;
    border: none;
}
.modal-content iframe{border: none;}
/*
* ----------------------------------------------------------------------------------------
* 0.END ABOUT US DESIGN
* ----------------------------------------------------------------------------------------
*/

/*
* ----------------------------------------------------------------------------------------
* 0.START OUR TEAM DESIGN
* ----------------------------------------------------------------------------------------
*/
.single_team{
	margin-top: 30px;
}
.single_team h3{
	color: #333;
	font-size: 18px;
	margin-bottom: 5px;
	margin-top: 18px;
}
.img_wrap{
	position:relative;
}
.single_team .img_wrap img {
  display: inline-block;
  text-align: center;
}
.single_team p{
	margin-bottom: 10px;
}
.single_team .social_link{
	border-top: 1px solid #f0f0f0;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 20px;
	padding-top: 20px;	
}
.single_team .social_link a{
	border: 1px solid #f0f0f0;
	border-radius: 40px;
	color: #777;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	width: 40px;
	transition: .5s;
}
.single_team .social_link a:hover{
	background: #dd3333;
	border-color: #dd3333;
	color: #fff;
}
/*
* ----------------------------------------------------------------------------------------
* 0.END OUR TEAM DESIGN
* ----------------------------------------------------------------------------------------
*/

/*
* ----------------------------------------------------------------------------------------
* .START NEWSLETTER DESIGN
* ----------------------------------------------------------------------------------------
*/
.center-block{
	float: inherit;
}
.newsletter{position: relative;}
.newsletter::before{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  content: "";
  left: 0;
  top: 0;
}
.signup_form h3{
	color: #fff;
	font-size: 18px;
	line-height: 34px;
	margin-bottom: 30px;
	margin-top: 0;
	text-transform: capitalize;
	font-weight: 300;
}
.signup_form input{
	background: transparent none repeat scroll 0 0;
	border: 1px solid #fff;
	border-radius: 0;
	color: #fff;
	margin-bottom: 30px;
	transition: all 0.2s ease 0s;
	height: 45px;
	line-height: 45px;
}

.signup_form input:focus {
    border-color:#dd3333;
    box-shadow: none;
    outline: 0 none;
}
.signup_form button {
	font-family: montserrat,sans-serif;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
	padding: 10px 30px;
}
.signup_form button:hover{
	background: #fff none repeat scroll 0 0!important; 
	color: #333;
	border:2px solid #fff;
}
/*
* ----------------------------------------------------------------------------------------
* .END NEWSLETTER DESIGN
* ----------------------------------------------------------------------------------------
*/



/*
* ----------------------------------------------------------------------------------------
* 0.START PRICING DESIGN
* ----------------------------------------------------------------------------------------
*/
.pricing-table {
    background-color: #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
	position: relative;
	-webkit-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}
.pricing-table:hover{
 
}
@media only screen and (max-width:480px) { 
    .pricing-table { margin-bottom: 40px }
}
.pricing-table.active { box-shadow: 0 0 4px rgba(0, 0, 0, 0.1) }
.pricing-table h3 {
	color: #333;
	font-size: 20px;
	margin-bottom: 0;
	margin-top: 0;
	padding: 25px 0 20px;
	text-align: center;
	text-transform: uppercase;
}
.price {
	color: #333;
	display: inline-block;
	font-family: montserrat,sans-serif;
	font-size: 14px;
	line-height: 26px;
	margin-bottom: 12px;
	padding-bottom: 25px;
	text-transform: uppercase;
	width: 100%;

}
.price.color-two h3{
	color: #fff;
}
.color-one {
    background: #f2f2f2;
}
.color-two {
    background: #dd3333;
    color: #fff;
}
.color-three {
    background: #dd3333;
    color: #fff;
}
.price span {
	display: block;
	font-size: 42px;
	font-weight: 700;
	padding-bottom: 20px;
}
.pricing-list {
    list-style: outside none none;
    margin-bottom: 0;
    text-align: center;
}
.pricing-list li {
	border-bottom: 1px dashed #eee;
	color: #333;
	font-size: 16px;
	padding: 10px 15px;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	position: relative;
}
.pricing-list li i{
	font-size: 14px;
	left: 35px;
	position: absolute;
	top: 17px;	
}
.pricing-list li:hover {}
.pricing-btn { padding: 20px 0 }
.pricing-btn  button {
    background: #dd3333;
    border: 1px solid #dd3333;
    color: #fff;
    font-family: montserrat,sans-serif;
    padding: 8px 30px;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease 0s;
            transition: all 0.2s ease 0s;
}
.pricing-btn  button:hover {
    background: #333;
    border: 1px solid #333;
    color: #fff;
}
/*
* ----------------------------------------------------------------------------------------
* 0.END PRICING DESIGN
* ----------------------------------------------------------------------------------------
*/


/*
* ----------------------------------------------------------------------------------------
* 0.START TESTIMONIAL DESIGN
* ----------------------------------------------------------------------------------------
*/
.testimonial_overlay{
	background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
	padding: 100px 0;
}
.avatar{
	width: 80px;
	margin: 0 auto;
}
.avatar img{
	border: 4px solid #fff;
	border-radius: 50%;
	width: 120px;
}
.testimonials_area p{
	color: #fff;
	font-size: 15px;
	margin: 20px 0 10px;
}
.testimonials_area span{
	color: #fff;
	font-size: 12px;
	margin-bottom: 2px;
	text-transform: uppercase;
}
.testimonials_area a:hover{
	color: #fff;
}
.owl-controls{
	position: absolute;
	width: 100%;
	top: 50%;
	font-size: 16px;
}
.owl-prev{
	position:absolute;
	left: -50px;
}
.owl-next{
	position:absolute;
	right: -50px;
}
.owl-controls i{
	font-size: 33px;
	font-weight: 700;
	transition: .5s;
}
.owl-controls i:hover{
	color: #dd3333;
}

/*
* ----------------------------------------------------------------------------------------
* 0.END TESTIMONIAL DESIGN
* ----------------------------------------------------------------------------------------
*/


/*
* ----------------------------------------------------------------------------------------
* .START COMPANY PARTNER LOGO
* ----------------------------------------------------------------------------------------
*/
.partner-logo{background:#F8F8F8;}
.partner { text-align: center }
.partner img {}
/*
* ----------------------------------------------------------------------------------------
* .END COMPANY PARTNER LOGO
* ----------------------------------------------------------------------------------------
*/

/*
* ----------------------------------------------------------------------------------------
* 14.START BLOG PAGE DESIGN
* ----------------------------------------------------------------------------------------
*/
/*START HOME BLOG*/
@media only screen and (max-width:768px) { 
    .home_single_blog { margin-bottom: 30px }
}
.home_single_blog img {
	width: 100%;
}
.home_blog_text {
	background: #fff none repeat scroll 0 0 !important;
	border: 1px solid #eee;
	padding: 30px;
	position: relative;
	z-index: 1;
}
.home_blog_text i {
	margin-right: 5px;
 }
.home_blog_text span {
    color: #dd3333;
    text-transform: uppercase;
    margin-right: 15px;
	font-size: 14px;
}
.home_blog_text h4 {
	margin: 10px 0 15px;
	text-transform: uppercase;
 }
.home_blog_text p { margin-bottom: 20px }
/*END HOME BLOG*/
/*
* ----------------------------------------------------------------------------------------
* .END BLOG PAGE DESIGN
* ----------------------------------------------------------------------------------------
*/


/*
* ----------------------------------------------------------------------------------------
* .START PROMOTION DESIGN
* ----------------------------------------------------------------------------------------
*/
.buy_now {
    background: #6a7d8e none repeat scroll 0 0;
    padding: 60px 0;
}
.buy_now_title {
    color: #fff;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
}
@media only screen and (max-width:768px) { 
    .buy_now_title { font-size: 22px }
}
@media only screen and (max-width:360px) { 
    .buy_now_title { font-size: 15px }
}
.btn-promotion-bg {
	background: #222 none repeat scroll 0 0;
	border: 1px solid #222;
	border-radius: 2px;
	box-shadow: 0 11px 11px 0 rgba(0, 0, 0, 0.2);
	color: #fff;
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 4px;
	margin-top: 20px;
	padding: 10px 30px;
	text-transform: uppercase;
	transition: all 0.2s ease 0s;
}
@media only screen and (max-width:480px) { 
    .btn-promotion-bg {
        margin-left: 0px;
        margin-top: 20px;
    }
}
.btn-promotion-bg:hover,
.btn-promotion-bg:focus {
    background: #fff;
    border: 1px solid #fff;
    color: #333;
}
/*
* ----------------------------------------------------------------------------------------
* .END PROMOTION DESIGN
* ----------------------------------------------------------------------------------------
*/

/*
* ----------------------------------------------------------------------------------------
* .START CONTACT DESIGN
* ----------------------------------------------------------------------------------------
*/
.contact {
    padding: 0 30px;
}
.contact input {
	background: #f8f8f8;
	border: 1px solid #f8f8f8;
	box-shadow: none;
	color: #333;
	font-family: montserrat,sans-serif;
	height: 55px;
	padding: 10px 20px;
}
.contact textarea {
    background: #f8f8f8;
    border-radius: 0;
	font-family: montserrat,sans-serif;
    border: 1px solid #f8f8f8;
    box-shadow: none;
	padding: 10px 20px;
    color: #333;
    height: 200px;
	border-radius: 3px;
}
.contact .form-control{
	margin-bottom: 15px;
}
.contact input:focus,
.contact textarea:focus {
    border-color:  #dd3333;
    box-shadow: none;
    outline: 0 none;
}
#submitButton{
	height: 50px;
	padding: 10px 15px;
}
.success {
    background: #fff none repeat scroll 0 0;
    color: #dd3333;
    font-weight: 700;
    padding: 20px;
    text-align: center;
}

.contact_address h3 {
    color: #333;
    margin: 0 0 15px;
    text-transform: uppercase;
}
.contact_address p {
    color: #333;
    margin-bottom: 30px;
}
.contact_address ul { list-style: none }
.contact_address ul li {
    color: #333;
    font-size: 16px;
    margin-bottom: 10px;
}
.contact_address ul li i {
    background: #dd3333 none repeat scroll 0 0;
    border-radius: 30px;
	color:#fff;
    font-size: 18px;
    height: 45px;
    line-height: 45px;
    margin-right: 20px;
    text-align: center;
    width: 45px;
}
.btn-contact-bg {
	background: #dd3333 none repeat scroll 0 0 !important;
	border: 1px solid #dd3333 !important;
	color: #fff!important;
	font-family: montserrat,sans-serif;
	font-size: 14px;
	padding: 10px 30px !important;
	text-transform: uppercase;
	transition: all 0.2s ease 0s;
}
.btn-contact-bg:hover,
.btn-contact-bg:focus {
    background: #333!important;
    border-bottom: 1px solid #333!important;
    color: #fff;
}
/*
* ----------------------------------------------------------------------------------------
* .END CONTACT DESIGN
* ----------------------------------------------------------------------------------------
*/

#map{height:400px;}
/*
* ----------------------------------------------------------------------------------------
* 18.START FOOTER DESIGN
* ----------------------------------------------------------------------------------------
*/
.footer {
    background-color: #fff;
}

.footer img { padding-bottom: 30px }
/*START FOOTER SOCIAL DESIGN*/
.footer_social {
  margin-bottom: 30px;
}
.footer_social ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.footer_social ul li { display: inline-block }
.footer_social ul li a {
	background: #1f2428 none repeat scroll 0 0;
	border: 1px solid #1f2428;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-size: 14px;
	height: 40px;
	line-height: 20px;
	margin: 2px;
	padding: 9px 12px;
	transition: all 0.2s ease 0s;
	width: 40px;
}
@media only screen and (max-width:768px) { 
    .footer_social ul li a { font-size: 12px }
}
@media only screen and (max-width:360px) { 
    .footer_social ul li a { font-size: 14px }
}
.footer_social ul li a:hover { color: #fff }
.f_facebook:hover {
    background: #5D82D1;
    border: 1px solid #5D82D1;
}
.f_twitter:hover {
    background: #40BFF5;
    box-shadow: 0 0 0 0px #40BFF5;
    border: 1px solid #40BFF5;
}
.f_google:hover {
    background: #EB5E4C;
    box-shadow: 0 0 0 0px #EB5E4C;
    border: 1px solid #EB5E4C;
}
.f_linkedin:hover {
    background: #238CC8;
    box-shadow: 0 0 0 0px #238CC8;
    border: 1px solid #238CC8;
}
.f_youtube:hover {
    background: #CC181E;
    box-shadow: 0 0 0 0px #CC181E;
    border: 1px solid #CC181E;
}
.f_skype:hover {
    background: #00AFF0;
    box-shadow: 0 0 0 0px #00AFF0;
    border: 1px solid #00AFF0;
}
/*END FOOTER SOCIAL DESIGN*/
.footer_content p {
	border-top: 1px solid #282828;
	color: #354554;
	font-family: montserrat,sans-serif;
	font-size: 14px;
	margin: 0;
	padding-top: 30px;
}
/*
* ----------------------------------------------------------------------------------------
* 18.END FOOTER DESIGN
* ----------------------------------------------------------------------------------------
*/
/*
 * ----------------------------------------------------------------------------------------
 *  19.START SECTION TOP DESIGN
 * ----------------------------------------------------------------------------------------
 */
.section-top{    
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.section-top-title h2 {
    color: #fff;
    font-size: 45px;
    margin: 0;
    text-transform: uppercase;
}
@media only screen and (max-width:320px) { 
    .section-top-title h2 { font-size: 40px }
}
.section-top-title {
padding-bottom: 90px;
padding-top: 150px;
}
.section-top-title,
.breadcrumb {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    margin-bottom: 0;
}
.section-top-title ol li { color: #fff!important }
.section-top-title ol li a { color: #fff!important }
.section-top-title ol li a:hover { color: #dd3333!important }
/*
 * ----------------------------------------------------------------------------------------
 * 19.END SECTION TOP DESIGN
 * ----------------------------------------------------------------------------------------
*/

/*
 * ----------------------------------------------------------------------------------------
 * 20.Single PORTFOLIO DESIGN
 * ----------------------------------------------------------------------------------------
*/
.about_project{
	margin-bottom: 20px;
}
.about_project_details ul{
	list-style: none;
}
.about_project_details ul li i{
	padding-right: 10px;
}
.about_project_details ul li{
	padding-bottom: 8px;
}
.about_project_details {
	margin-bottom: 20px;
}
.related_porject{
	padding-bottom: 30px;
}
#team .section-title div{
	margin-bottom: 30px;
}

.footer p span { color: #26a9e0 }