#style-switcher h2 a { background: #dd3333 none repeat scroll 0 0 }

/*START SCROLL TO TOP*/
.topcontrol {background: #26A9E0 none repeat scroll 0 0;}
/*END SCROLL TO TOP*/


/*START MENU*/
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #26A9E0 !important;
    background-color: transparent;
}
.menu-top li a:hover { color: #26A9E0!important }
.navbar-default.menu-shrink li a:hover { color: #26A9E0 !important }
.navbar-default .navbar-toggle .icon-bar { background-color: #26A9E0 }
/*END MENU*/


.btn-light-bg {background: #26A9E0 none repeat scroll 0 0;border: 2px solid #26A9E0;}
	
.section-title h2 span { color: #354554  }

.section-title div {background: #26A9E0  none repeat scroll 0 0;}

.btn-home-bg {background: #26A9E0 none repeat scroll 0 0;border: 1px solid #26A9E0;}

.single_about:hover i {
    background: #26A9E0;
    border: 1px solid #26A9E0;
}
.single_about:hover h4 { color: #26A9E0; }


.progress-bar > span {background: #26A9E0 none repeat scroll 0 0;}


.single_feature i {background:#354554;}

.carousel-indicators .active {
    border: 1px solid #dd3333;
    background: #dd3333 none repeat scroll 0 0;
}
.single_service i {color: #6a7d8e;}

.our_work_menu ul li:hover, .our_work_menu ul li.active{
	border-color: #354554 ;
	color:#354554;
}


.counter i {color: #354554;}

.counter:hover i {background: #354554 none repeat scroll 0 0;border: 1px solid #354554;}

.single_team .social_link a:hover{
	background: #dd3333;
	border-color: #dd3333;
}


.signup_form input:focus {
    border-color:#dd3333;
}
.color-two {
    background: #dd3333;
    color: #fff;
}
.color-three {
    background: #dd3333;
    color: #fff;
}
.pricing-btn  button {
    background: #dd3333;
    border: 1px solid #dd3333;}
	
.home_blog_text span {color: #dd3333;}	

.buy_now {
    background: #6a7d8e none repeat scroll 0 0;
}

.contact input:focus,
.contact textarea:focus {
    border-color:  #dd3333;
    box-shadow: none;
    outline: 0 none;
}
.btn-contact-bg {
	background: #26A9E0 none repeat scroll 0 0 !important;
	border: 1px solid #26A9E0 !important;}







